# Pour python, commenter si on utilise virtualenv (sur le serveur). 
# Laisser décommenté pour conda (utilisé en local).

python=3.11.5
pip
requests
pandarallel
jupyter
numpy
pandas
nltk
# spacy
matplotlib
seaborn
plotly
# wordcloud
pillow
statsmodels
scipy
scikit-learn
gensim
# pyLDAvis
tensorflow
transformers
datasets
# flask
# joblib
pytest
gdown
mlflow=2.10.2
# evidently
tensorflow-hub
# jupyter_contrib_nbextensions
opencv-python
